<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Yelp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>sjsu.compe275.web.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VoteServlet</servlet-name>
    <servlet-class>sjsu.compe275.web.VoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteServlet</servlet-name>
    <url-pattern>/VoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>signIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>Servlet.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/View/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>signOut</display-name>
    <servlet-name>SignOut</servlet-name>
    <servlet-class>Servlet.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOut</servlet-name>
    <url-pattern>/View/SignOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DisplayAds</display-name>
    <servlet-name>DisplayAds</servlet-name>
    <servlet-class>Servlet.DisplayAds</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAds</servlet-name>
    <url-pattern>/View/DisplayAds</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Order</display-name>
    <servlet-name>Order</servlet-name>
    <servlet-class>Servlet.Order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order</servlet-name>
    <url-pattern>/View/Order</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CheckOut</display-name>
    <servlet-name>CheckOut</servlet-name>
    <servlet-class>Servlet.CheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOut</servlet-name>
    <url-pattern>/View/CheckOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PlaceAd</display-name>
    <servlet-name>PlaceAd</servlet-name>
    <servlet-class>Servlet.PlaceAd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceAd</servlet-name>
    <url-pattern>/View/PlaceAd</url-pattern>
  </servlet-mapping>
</web-app>